﻿{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf%}

{% block page_content %}
<div class="row">
    <div class="col-md-12">
        <h1>Simple Test Application</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <p>Skriv in ditt namn</p>
        <form class="form" method="post" role="form">
            {{ form.hidden_tag() }}
            {{ wtf.form_errors(form, hiddens="only") }}

            {{ wtf.form_field(form.name, form_type="inline") }}
            <input type="submit" value="Skicka!">
        </form>
    </div>

    <div class="col-md-4">
        <p>Detta är de senaste namnen</p>
        <table class="table table-striped">
            <thead>
                <tr>
                    <td>Name</td>
                    <td>Tid</td>
                </tr>
            </thead>
            <tbody>
                {% for person in history %}
                <tr>
                    <td>{{ person.name }}</td>
                    <td>{{ moment(person.time).fromNow() }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="col-md-4">
        <p>Detta är de vanligaste namnen</p>
        <table class="table table-striped">
            <thead>
                <tr>
                    <td>Name</td>
                    <td>Antal gånger</td>
                </tr>
            </thead>
            <tbody>
                {% for person in frequency %}
                <tr>
                    <td>{{ person[0] }}</td>
                    <td>{{ person[1] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}